body {
    margin:0;
}
.main_panel {
    width: 100%;
}
.lewy {
    width: 20%;
    background-color: aqua;
    display: inline-block;
    margin-right: -4px;
    height: 500px;
}
.srodek {
    width: 60%;
    display: inline-block;
    background-color: blue;
    margin-right: -4px;
    height: 500px;
}
.prawy {
    width: 20%;
    background-color: red;
    margin-right: -4px;
    display: inline-block;
    height: 500px;
}
